<html>
  <head>
    <title> Janice's PE Blog </title>
  </head>
  <body>
    <div>
        <h1> Janice's PE Blog </h1>
    </div>

    <div>
        <h2> Pectus Excavatum </h2>
        <p> 2019-08-27 </p>

        <p> I was born with a deformity called Pectus Excavatum.
          My insecurity levels as a child only grew louder with time and
          for those who share this condition, especially if you are skinny
          like me, understand how uncomfortable it is trying to explain to
          your peers why you look the way you do.
        </p>
    </div>


    <div>
        <h2> Workout Journey </h2>
        <p> 2019-08-27 </p>

        <p> I decided I was not going to sit passively and let these
          insecurities control me. I read online that while our bone
          structure is permanent, every other part of our body is moldable.
          That's when I decided to go to the gym. I made several attempts
          and failed to commit, many, many times.
        </p>
    </div>


    <div>
        <h2> How I Was Able To Commit </h2>
        <p> 2019-08-27 </p>

        <p> I would muster up the energy to go to the gym only to fall into my
          typical routine of giving up. I recognized nothing would change
          unless I found some plan, some guidance.
          I had no idea where to start and I tried going online but reading
          about workouts and actually doing them were so different.
          What helped get the ball rolling and KEEP ROLLING, was seeking a
          personal trainer. When I saved enough money from my part-time job,
          I went ahead and hired a personal trainer. I learned proper form and
          a program that worked for me.
        </p>
    </div>

  </body>
</html>
